Repository cilly-yllic/firebase-rules-bundler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "*.{json,yml}": [
    "prettier --write",
    "git add"
  ]
}

edit readme
  README.md
Due: none

multiple storages
  README.md
  package.json
  src/cli/commands/bundle/action.ts
  src/internal/types/settings.ts
  src/internal/utils/settings.ts
Due: eslint, prettier --write

update packages
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

edit node version
  package.json
Due: prettier --write

update version
  package.json
Due: prettier --write

update version & set actions workflow
  .github/actions/get-summary/action.yml
  .github/actions/get-summary/index.js
  .github/actions/get-tag-name/action.yml
  .github/actions/get-tag-name/index.js
  .github/actions/utils/exec.js
  .github/renovate.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-ver-and-create-pr.yml
  .husky/pre-commit
  .husky/pre-push
  .nvmrc
  .prettierignore
  README.md
  package-lock.json
  package.json
  scripts/ci/update-version.ts
  scripts/generate-alias.cjs
Due: eslint, prettier --write

add description
  package.json
Due: prettier --write

[ci:auto-fix] Update Repository Version
  package.json
Due: prettier --write

eslint flat config
  .eslintrc.cjs
  .github/actions/get-summary/action.yml
  .github/actions/get-tag-name/action.yml
  .github/workflows/release.yml
  .ncurc.json
  .nvmrc
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.spec.json
Due: eslint, prettier --write

fix: deprecated command
  .github/workflows/update-ver-and-create-pr.yml
Due: prettier --write

update actions/cache v4
  .github/workflows/release.yml
Due: prettier --write

update version & fix assert
  .github/workflows/update-ver-and-create-pr.yml
  .gitignore
  .ncurc.json
  .nvmrc
  eslint.config.js
  jest.config.js
  jest.config.ts
  package-lock.json
  package.json
  scripts/generate-alias.cjs
  src/_internal/types/bundle-type.ts
  src/_internal/types/command.ts
  src/_internal/types/log.ts
  src/_internal/types/options.ts
  src/_internal/types/process.ts
  src/_internal/types/settings.ts
  src/_internal/utils/command.ts
  src/_internal/utils/configs.ts
  src/_internal/utils/fs.ts
  src/_internal/utils/log.ts
  src/_internal/utils/logger.ts
  src/_internal/utils/path.ts
  src/_internal/utils/process.ts
  src/_internal/utils/settings.ts
  src/cli/commands/bundle/action.ts
  src/cli/commands/bundle/command.ts
  src/cli/commands/help/action.ts
  src/cli/commands/help/command.ts
  src/cli/index.ts
  tools/generate-alias.zx.ts
  tools/update-version.zx.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.publish.json
  tsconfig.zx.json
Due: eslint, prettier --write

fix: __dirname
  src/_internal/utils/process.ts
Due: eslint, prettier --write

update version
  package-lock.json
  package.json
Due: prettier --write

update version
  .nvmrc
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.publish.json
Due: prettier --write

replace
  tools/update-version.zx.ts
Due: eslint, prettier --write
